<div class="introduction">
    <mat-label>What are you thinking about?</mat-label>
</div>

<form [formGroup]="form">
    <div class="form-container">
        <mat-label>Name</mat-label>
        <mat-form-field appearance="outline">
            <input formControlName="name" matInput type="string">
        </mat-form-field>
        <mat-label>Comment</mat-label>
        <mat-form-field appearance="outline">
            <input formControlName="text" matInput type="string">
        </mat-form-field>
    </div>
</form>

<div class="button-container">
    <button class="button" (click)="submit()">
        <mat-label>
            Post comment
        </mat-label>
    </button>
</div>

<div class="comment-section-container">
    <mat-label class="comment-list">All comments:</mat-label>

    <div class="comment-section" *ngFor="let comment of comments">
        <h6>{{comment.name}}:</h6>
        <p>{{comment.text}}</p>
        <mat-divider></mat-divider>
    </div>
</div>